

#today-city-heading {
  display: inline-block;
  text-align: center;
}

#today-city-date {
  display: inline-block;
  text-align: center;
}

#today-city-icon {
  display: inline-block;
  text-align: center;
}
